<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SUITE" verbose="1" thread-count="2"
	parallel="methods">
	<parameter name="remoteURL" value="" /><!-- http://192.168.0.181:4444/wd/hub -->
	<listeners>
		<listener class-name="com.listener.CustomListener" />
	</listeners>

	<!-- ${environment} -->

	<test name="TESTS1">
		<parameter name="environment" value="ADMIN-DEV" />
		<parameter name="platform" value="" />
		<classes>
			<class name="tests.AdminModule">
				<methods>
					<include name="DemoTest1">
						<parameter name="browser" value="Firefox" />
					</include>
					<include name="DemoTest2"> 
						<parameter name="browser" value="chrome" />
					</include>
				</methods>
			</class>
		</classes>
	</test>
	
	
	
	<test name="TESTS2">
		<parameter name="environment" value="ADMIN-STG" />
		<parameter name="platform" value="" />
		<classes>
			<class name="tests.AdminModule">
				<methods>
					<include name="DemoTest1">
						<parameter name="browser" value="Firefox" />
					</include>
					<include name="DemoTest2"> 
						<parameter name="browser" value="chrome" />
					</include>
				</methods>
			</class>
		</classes>
	</test>
</suite>